<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>基本使用</title>
</head>

<body>

  <div id="app">
    <!-- 此方式实现等同于 v-model -->
    <input type="text" :value="msg" @input="valueChange">

    <!-- 双向绑定 -->
    <input type="text" v-model="msg">
    <textarea cols="30" rows="10" v-model="msg"></textarea>

    {{msg}}
  </div>


  <script src="../node_modules/vue/dist/vue.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        msg: '你好'
      },
      methods: {
        valueChange(_event) {
          this.msg = _event.target.value;
        }
      }
    });
  </script>
</body>

</html>